@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Quicksand:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #808dad;
	--color-secondary: #ffffff;
	--color-accent: #eb4a4a;
	--color-background: #0e1630; /* page background */
	--color-surface: #171f38;
	--color-error: #eb4a4a;
	--color-tag: #2c3246;
	--color-accent-alpha: #eb4a4a2b;

	--nav-height: 3rem;
}

@layer components {
	.c-highlight {
		@apply inline-flex items-center font-bold text-accent;
	}
	.c-highlight::before {
		@apply items-start mr-2 rounded bg-accent w-7;
		height: 2px;
		content: "";
	}
	.c-button-primary {
		@apply px-4 py-2 border rounded-lg border-accent text-accent bg-surface;
	}
}

/* Global styles */
.active {
	@apply relative inline-flex items-center text-accent !important;
}
.active::before {
	@apply absolute bottom-0 left-0 items-start w-6 rounded bg-accent;
	height: 2px;
	content: "";
}
.skillIcons {
	pointer-events: none !important;
}
